<!doctype html>


<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <title>Welcome</title>
</head>

<body class="text-center">

  <form method="POST" style="width: 100%; max-width: 330px; padding: 15px; margin: auto;">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info" role="alert">
              {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <h1 class="h3 mb-3 font-weight-normal">Welcome</h1>

    <div class="form-group">
      <input type="text" name="password">
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Open Up!</button>

    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>

  </form>
</body>

</html>