<!doctype html>


<html>
    <head>
        <title>Welcome</title>
    </head>
    <body>
        
        <form method="POST">
            <h1>Welcome!</h1>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <button type="submit">Open Up!</button>
        </form>
    
    </body>
</html>